<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="utf-8" />
	<title>Ivari Horm - Personal Site</title>
	<meta name="description" content="Ivari Horm Personal Site" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="@Context.GetLink("/css/main.css")" />
	<link rel="stylesheet" media="screen and (max-width: 900px)" href="@Context.GetLink("/css/mobile.css")" />
	<link rel="alternate" type="application/rss+xml" title="Sleepwalking" href="@Context.GetLink("feed.rss")" />
	<link rel="alternate" type="application/atom+xml" title="Sleepwalking" href="@Context.GetLink("feed.atom")" />
	<script src="@Context.GetLink("/js/pocket.js")" type="text/javascript"></script>
	<script src="@Context.GetLink("/js/quote.js")" type="text/javascript"></script>
</head>

<body>
	<header>
		<a href="@Context.GetLink("/")"><div class="icon">@Html.Raw(Document.GetString("IconText"))</div></a>
		<nav>
			@Html.Partial("_Header")
		</nav>
	</header>

	@if(Document.GetBool("IsPost") || Document.GetBool("IsSubPage") || Document.GetLink() == "/") {
		<aside>
			@Html.Partial(Document.GetBool("IsSubPage") ? "widgets/_SubPages" : "widgets/_RecentPosts") 
			@RenderSection("Sidebar", required: false)
		</aside>
	}
	else {
		IgnoreSection("Sidebar");
	}

	<main>
		@RenderBody()
	</main>
</body>

</html>
